# Pandas

This notebook contains examples of using Pandas to perform explorator data analysis (EDA) on tabular data.

In [20]:
# Only include this if you don't already have the pandas module installed. You can also do this on the command line.
# %pip install pandas 

import pandas as pd 

mouseDF = pd.read_csv('../data/mousew.csv')

In [2]:
mouseDF

       strain sex     weight
0    C57Bl/6J   M  27.596753
1    C57Bl/6J   M  29.635837
2    C57Bl/6J   M  28.460685
3    C57Bl/6J   M  29.248225
4    C57Bl/6J   M  25.702118
..        ...  ..        ...
395    DBA/2J   F  20.489587
396    DBA/2J   F  21.512789
397    DBA/2J   F  18.677338
398    DBA/2J   F  22.974729
399    DBA/2J   F  19.312054

[400 rows x 3 columns]

In [2]:
mouseDF = pd.read_csv('../data/mousew.csv.gz')
mouseDF

       strain sex     weight
0    C57Bl/6J   M  27.596753
1    C57Bl/6J   M  29.635837
2    C57Bl/6J   M  28.460685
3    C57Bl/6J   M  29.248225
4    C57Bl/6J   M  25.702118
..        ...  ..        ...
395    DBA/2J   F  20.489587
396    DBA/2J   F  21.512789
397    DBA/2J   F  18.677338
398    DBA/2J   F  22.974729
399    DBA/2J   F  19.312054

[400 rows x 3 columns]

## Writing data out

We can write a DataFrame to lots of formats. Here are some poular ones:
  * CSV (comma separated values)
  * TSV (tab separated values)
  * JSON (JavaScript Object Notation)
  * Excel

In [ ]:
# If you happen to be writing to or reading from an Excel (.xlsx or .xls) file (like we are in this cell), 
# you'll need to install the Python library openpyxl. Use the magic pip command for this:
%pip install openpyxl

# CSV (comma separated values):
mouseDF.to_csv('../data/mousew2.csv')

# TSV (tab separated values):
mouseDF.to_csv('../data/mousew.tsv', sep='\t')

# JSON (JavaScript Object Notation -- lists each row in the DataFrame as a dictionary with columns 
# as keys and their data in that row as values.
mouseDF.to_json('../data/mousew.json')

# Excel:
mouseDF.to_excel('../data/mousew.xlsx')

# By default, the .to_*() calls will add an Index column; you can prevent that column from being 
# output by passing in an index=False argument:
mouseDF.to_csv('../data/mousew-noindex.csv', index=False)

## Reading data in

When we read data in, we use the pandas module directl (which we import as `pd` by convention). This is different from writing data out, where we call the `.to_*()` method on the DataFrame we want to save.

In [4]:
# TSV
df = pd.read_table('../data/mousew.tsv')
df
# # CSV
# df = pd.read_csv('../data/mousew.csv')
# # ***OR****
# df = pd.read_table('../data/mousew.csv', delimiter=',')

# # JSON
# df = pd.read_json('../data/mousew.json')

# # Excel
# df = pd.read_excel('../data/mousew.xlsx')

# # If you have a large file, pass in an argument for the `nrows` parameter,
# # Here we're only reading in the first 100 rows:
# df = pd.read_csv('../data/mousew.csv', nrows=100)

     Unnamed: 0    strain sex     weight
0             0  C57Bl/6J   M  27.596753
1             1  C57Bl/6J   M  29.635837
2             2  C57Bl/6J   M  28.460685
3             3  C57Bl/6J   M  29.248225
4             4  C57Bl/6J   M  25.702118
..          ...       ...  ..        ...
395         395    DBA/2J   F  20.489587
396         396    DBA/2J   F  21.512789
397         397    DBA/2J   F  18.677338
398         398    DBA/2J   F  22.974729
399         399    DBA/2J   F  19.312054

[400 rows x 4 columns]

In [8]:

mouseDF[(mouseDF['weight'] >= 28) & (mouseDF['weight'] < 29)].to_csv('../data/mousew-28oz.csv.gz')

In [9]:
mouseDF28Only = pd.read_csv('../data/mousew-28oz.csv.gz')
mouseDF28Only

    Unnamed: 0    strain sex     weight
0            2  C57Bl/6J   M  28.460685
1           17  C57Bl/6J   M  28.131761
2           18  C57Bl/6J   M  28.724828
3           21  C57Bl/6J   M  28.393142
4           28  C57Bl/6J   M  28.248257
5           30  C57Bl/6J   M  28.431916
6           32  C57Bl/6J   M  28.900976
7           40  C57Bl/6J   M  28.227189
8           41  C57Bl/6J   M  28.427392
9           48  C57Bl/6J   M  28.531084
10          61  C57Bl/6J   M  28.212117
11          63  C57Bl/6J   M  28.148897
12          65  C57Bl/6J   M  28.539025
13          69  C57Bl/6J   M  28.807248
14          71  C57Bl/6J   M  28.999457
15          77  C57Bl/6J   M  28.984005
16          83  C57Bl/6J   M  28.276477
17          85  C57Bl/6J   M  28.281818
18          87  C57Bl/6J   M  28.535487
19          88  C57Bl/6J   M  28.038621
20          95  C57Bl/6J   M  28.456805
21          96  C57Bl/6J   M  28.181539
22          98  C57Bl/6J   M  28.059095
23         203    DBA/2J   M  28.852402
24         211    DBA/2J   M  28.058833
25         218    DBA/2J   M  28.572702
26         231    DBA/2J   M  28.622008
27         234    DBA/2J   M  28.187609
28         236    DBA/2J   M  28.027747
29         240    DBA/2J   M  28.890028
30         242    DBA/2J   M  28.380888
31         249    DBA/2J   M  28.726820
32         260    DBA/2J   M  28.353228
33         264    DBA/2J   M  28.352875
34         274    DBA/2J   M  28.142244
35         277    DBA/2J   M  28.754204
36         278    DBA/2J   M  28.136773
37         279    DBA/2J   M  28.863385
38         286    DBA/2J   M  28.886780
39         291    DBA/2J   M  28.082726
40         292    DBA/2J   M  28.988429

In [22]:
mouseDF28Only = pd.read_csv('../data/mousew-28oz.csv.gz', index_col=0)
mouseDF28Only

       strain sex     weight
2    C57Bl/6J   M  28.460685
17   C57Bl/6J   M  28.131761
18   C57Bl/6J   M  28.724828
21   C57Bl/6J   M  28.393142
28   C57Bl/6J   M  28.248257
30   C57Bl/6J   M  28.431916
32   C57Bl/6J   M  28.900976
40   C57Bl/6J   M  28.227189
41   C57Bl/6J   M  28.427392
48   C57Bl/6J   M  28.531084
61   C57Bl/6J   M  28.212117
63   C57Bl/6J   M  28.148897
65   C57Bl/6J   M  28.539025
69   C57Bl/6J   M  28.807248
71   C57Bl/6J   M  28.999457
77   C57Bl/6J   M  28.984005
83   C57Bl/6J   M  28.276477
85   C57Bl/6J   M  28.281818
87   C57Bl/6J   M  28.535487
88   C57Bl/6J   M  28.038621
95   C57Bl/6J   M  28.456805
96   C57Bl/6J   M  28.181539
98   C57Bl/6J   M  28.059095
203    DBA/2J   M  28.852402
211    DBA/2J   M  28.058833
218    DBA/2J   M  28.572702
231    DBA/2J   M  28.622008
234    DBA/2J   M  28.187609
236    DBA/2J   M  28.027747
240    DBA/2J   M  28.890028
242    DBA/2J   M  28.380888
249    DBA/2J   M  28.726820
260    DBA/2J   M  28.353228
264    DBA/2J   M  28.352875
274    DBA/2J   M  28.142244
277    DBA/2J   M  28.754204
278    DBA/2J   M  28.136773
279    DBA/2J   M  28.863385
286    DBA/2J   M  28.886780
291    DBA/2J   M  28.082726
292    DBA/2J   M  28.988429

## Creating DataFrames from a dictionary or set of lists

In [12]:
# Creating a DataFrame from a list of dictionaries:
rawData = [
    {
        'strain': 'C57BI/6J',
        'sex': 'M',
        'weight': 27.596753
    },
    {
        'strain': 'C57BI/6J',
        'sex': 'M',
        'weight': 29.248225
    },
    # ...
]
data = pd.DataFrame(rawData)
data

     strain sex     weight
0  C57BI/6J   M  27.596753
1  C57BI/6J   M  29.248225

In [13]:
# Creating a DataFrame from a list of lists + column names:
rawData = [
    ['C57BI/6J', 'M', 27.596753],
    ['C57BI/6J', 'M', 29.248225]
]

data = pd.DataFrame(rawData, columns=['strain', 'sex', 'weight'])
data

     strain sex     weight
0  C57BI/6J   M  27.596753
1  C57BI/6J   M  29.248225

## Basic pandas—examining DataFrames

Some of the things we might

In [14]:
# How many rows?
# Finding the length (number of keys in) a dictionary:
# x = {'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}
# len(x.keys())

# TODO
len(mouseDF)

400

In [16]:
# How many columns?

# TODO
len(mouseDF.columns)

3

In [17]:
# We can ask for the shape of a DataFrame, which gives us a tuple with these values:

# TODO
mouseDF.shape

(400, 3)

In [18]:
# Get the number of rows using mouseDF.shape:

# TODO
mouseDF.shape[0]

400

In [19]:
# Select the weight column, which is a Series object.
# Preferred way:

# TODO
mouseDF['weight']

0      27.596753
1      29.635837
2      28.460685
3      29.248225
4      25.702118
         ...
395    20.489587
396    21.512789
397    18.677338
398    22.974729
399    19.312054
Name: weight, Length: 400, dtype: float64

In [20]:
mouseDF28Only['weight']

2      28.460685
17     28.131761
18     28.724828
21     28.393142
28     28.248257
30     28.431916
32     28.900976
40     28.227189
41     28.427392
48     28.531084
61     28.212117
63     28.148897
65     28.539025
69     28.807248
71     28.999457
77     28.984005
83     28.276477
85     28.281818
87     28.535487
88     28.038621
95     28.456805
96     28.181539
98     28.059095
203    28.852402
211    28.058833
218    28.572702
231    28.622008
234    28.187609
236    28.027747
240    28.890028
242    28.380888
249    28.726820
260    28.353228
264    28.352875
274    28.142244
277    28.754204
278    28.136773
279    28.863385
286    28.886780
291    28.082726
292    28.988429
Name: weight, dtype: float64

In [21]:
# Dot notation -- not preferred because:
#   - it only works with column names that are valid Python identifiers (no spaces, starts with alpha+_, only contains alphanumeric+_)
#   - since it can't be used everywhere, when you do use it, it'll cause inconsistencies
#   - it's non-programatic (you can access a column whose name is stored in a variable this way)

# TODO
mouseDF.weight

0      27.596753
1      29.635837
2      28.460685
3      29.248225
4      25.702118
         ...
395    20.489587
396    21.512789
397    18.677338
398    22.974729
399    19.312054
Name: weight, Length: 400, dtype: float64

In [7]:
# See just the first 10 lines (if you omit the argument, the default is 5)

# TODO
mouseDF.head(10)

     strain sex     weight
0  C57Bl/6J   M  27.596753
1  C57Bl/6J   M  29.635837
2  C57Bl/6J   M  28.460685
3  C57Bl/6J   M  29.248225
4  C57Bl/6J   M  25.702118
5  C57Bl/6J   M  26.972696
6  C57Bl/6J   M  30.352504
7  C57Bl/6J   M  29.056024
8  C57Bl/6J   M  27.869612
9  C57Bl/6J   M  31.025558

In [8]:
# See just the last 10 lines (or 5 if the argument is omitted)

mouseDF.tail(10)

     strain sex     weight
390  DBA/2J   F  23.008116
391  DBA/2J   F  19.084330
392  DBA/2J   F  18.807994
393  DBA/2J   F  22.977515
394  DBA/2J   F  22.153450
395  DBA/2J   F  20.489587
396  DBA/2J   F  21.512789
397  DBA/2J   F  18.677338
398  DBA/2J   F  22.974729
399  DBA/2J   F  19.312054

In [14]:
mouseDF['strain'].head()

0    C57Bl/6J
1    C57Bl/6J
2    C57Bl/6J
3    C57Bl/6J
4    C57Bl/6J
Name: strain, dtype: object

In [13]:
# Get basic stats about each numeric column.

mouseDF['weight'].describe()

count    400.000000
mean      24.002120
std        3.536213
min       17.411034
25%       20.946523
50%       23.474883
75%       27.120553
max       32.848227
Name: weight, dtype: float64

In [12]:
# Summarize all of the numeric columns of a DataFrame:

mouseDF.describe()

           weight
count  400.000000
mean    24.002120
std      3.536213
min     17.411034
25%     20.946523
50%     23.474883
75%     27.120553
max     32.848227

In [15]:
# Sum every column -- Question: what looks amiss about the result?

mouseDF.sum()

strain    C57Bl/6JC57Bl/6JC57Bl/6JC57Bl/6JC57Bl/6JC57Bl/...
sex       MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
weight                                          9600.848108
dtype: object

In [16]:
mouseDF['weight'].sum()

np.float64(9600.848107922207)

In [18]:
# Also, min, max, count, mean:

print('MIN:\n', mouseDF.min())
print('\nMAX:\n', mouseDF.max())
print('\nCOUNT:\n', mouseDF.count())
# print('\nMEAN:\n', mouseDF.mean()) # <-- this will cause an error on non-numeric columns

MIN:
 strain     C57Bl/6J
sex               F
weight    17.411034
dtype: object

MAX:
 strain       DBA/2J
sex               M
weight    32.848227
dtype: object

COUNT:
 strain    400
sex       400
weight    400
dtype: int64

## Selecting data in pandas

In [20]:
# Selecting columns:
mouseDF['weight'] # --> returns a Series (a single column)

mouseDF[['strain', 'weight']] # --> returns a DataFrame (two or more columns)

       strain     weight
0    C57Bl/6J  27.596753
1    C57Bl/6J  29.635837
2    C57Bl/6J  28.460685
3    C57Bl/6J  29.248225
4    C57Bl/6J  25.702118
..        ...        ...
395    DBA/2J  20.489587
396    DBA/2J  21.512789
397    DBA/2J  18.677338
398    DBA/2J  22.974729
399    DBA/2J  19.312054

[400 rows x 2 columns]

In [21]:
# Selecting columns:
mouseDF['weight']
# Selecting rows:
mouseDF[0:2] # --> returns a DataFrame containing row indexes 0 and 1 -- this is just like list slicing

     strain sex     weight
0  C57Bl/6J   M  27.596753
1  C57Bl/6J   M  29.635837

In [23]:
mouseDF28Only.head()

      strain sex     weight
2   C57Bl/6J   M  28.460685
17  C57Bl/6J   M  28.131761
18  C57Bl/6J   M  28.724828
21  C57Bl/6J   M  28.393142
28  C57Bl/6J   M  28.248257

In [24]:
# Question 1 -- what will this display?
mouseDF28Only[0:2]

      strain sex     weight
2   C57Bl/6J   M  28.460685
17  C57Bl/6J   M  28.131761

In [25]:
# Selecting both (an intersection of row and column):
mouseDF['weight'][1] # --> the second row of the 'weight' column
# mouseDF['weight'] -> returns a series
# (^^^)[1] -- says "get index 1 from the series"

np.float64(29.635837290427972)

In [26]:
mouseDF['weight'][1:3]

1    29.635837
2    28.460685
Name: weight, dtype: float64

In [27]:
# A second way of writing the same thing using .loc -- "explicit location"
mouseDF.loc[1, 'weight']

np.float64(29.635837290427972)

In [28]:
# A third way using .iloc -- "implicit location"
mouseDF.iloc[1, 2] # --> the 1 means "row index 1" and the 2 means "column index 2"

np.float64(29.635837290427972)

In [31]:
mouseDF.describe()['weight']['mean']

np.float64(24.00212026980552)

In [33]:
mouseDF.describe().loc['mean', 'weight']

np.float64(24.00212026980552)

In [34]:
mouseDF.describe().iloc[1,0]

np.float64(24.00212026980552)

In [36]:
mouseDF.describe().loc['mean',] # <- gets all columns for the row with index label 'mean'

weight    24.00212
Name: mean, dtype: float64

In [37]:
mouseDF.loc[20,]

strain     C57Bl/6J
sex               M
weight    27.774557
Name: 20, dtype: object

## Selecting rows based on criteria (filtering)

In [39]:
# How would you find all mice with weights greater than 25?

mouseDF[mouseDF['weight'] > 25]

# NOTE: 171 rows were returned out of the 400 mice.

       strain sex     weight
0    C57Bl/6J   M  27.596753
1    C57Bl/6J   M  29.635837
2    C57Bl/6J   M  28.460685
3    C57Bl/6J   M  29.248225
4    C57Bl/6J   M  25.702118
..        ...  ..        ...
297    DBA/2J   M  32.848227
298    DBA/2J   M  29.093883
299    DBA/2J   M  27.920858
314    DBA/2J   F  25.661969
356    DBA/2J   F  25.609933

[171 rows x 3 columns]

In [38]:
# Let's break it down here.

# This creates a boolean Series (basically a bitmask) such that a True corresponds to a 
# row where the condition (weight > 25) holds, and False otherwise.
mouseDF['weight'] > 25


# Passing this bitmask into the square brackets tells the DataFrame to only return the rows of data that
# correspond with the rows in the bitmap that are True.

0       True
1       True
2       True
3       True
4       True
       ...
395    False
396    False
397    False
398    False
399    False
Name: weight, Length: 400, dtype: bool

In [40]:
# Let's try a trickier one...select all mice who are male AND have a weight *below* 22.

mouseDF[(mouseDF['weight'] < 22) & (mouseDF['sex'] == 'M')]

# We need to use the bitwise AND operator (a single ampersand) to combine the bitmap from each of the
# subexpressions. It's important that both subexpression are wrapped in parentheses, otherwise 
# Bad Things Will Happen (TM). If we want to OR two bitmaps, we use | (single pipe).

     strain sex     weight
216  DBA/2J   M  20.948356
226  DBA/2J   M  21.997478
244  DBA/2J   M  21.001669
267  DBA/2J   M  20.988524

In [42]:
mouseDF[mouseDF['weight'] < 22 & mouseDF['sex'] == 'M'] # <- Don't forget the parentheses!

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [43]:
# Find missing weights  (there is no missing data in mouseDF, so this' isn't interesting here):
mouseDF[mouseDF['weight'].isna()]

Empty DataFrame
Columns: [strain, sex, weight]
Index: []

In [44]:
# Find rows where at least one column value is missing:
mouseDF[ mouseDF.isna().any(axis=1) ]

# The `axis=1` tells the any() method to aggregate across the columns in each row.

Empty DataFrame
Columns: [strain, sex, weight]
Index: []

In [ ]:
# Find if a column value is in a list -- not that interesting here, as we only have two 
# strains and two sexes.

mouseDF[mouseDF['strain'].isin(['DBA/2J', 'DBA/2M'])]

## Removing data

In [21]:
# For the axis parameter -- 1 = column, 0 = row
mouseDF.drop('sex', axis=1) # This returns a "view" of the DataFrame without the 'sex' column

       strain     weight
0    C57Bl/6J  27.596753
1    C57Bl/6J  29.635837
2    C57Bl/6J  28.460685
3    C57Bl/6J  29.248225
4    C57Bl/6J  25.702118
..        ...        ...
395    DBA/2J  20.489587
396    DBA/2J  21.512789
397    DBA/2J  18.677338
398    DBA/2J  22.974729
399    DBA/2J  19.312054

[400 rows x 2 columns]

In [22]:
mouseDF.drop(2, axis=0)

       strain sex     weight
0    C57Bl/6J   M  27.596753
1    C57Bl/6J   M  29.635837
3    C57Bl/6J   M  29.248225
4    C57Bl/6J   M  25.702118
5    C57Bl/6J   M  26.972696
..        ...  ..        ...
395    DBA/2J   F  20.489587
396    DBA/2J   F  21.512789
397    DBA/2J   F  18.677338
398    DBA/2J   F  22.974729
399    DBA/2J   F  19.312054

[399 rows x 3 columns]

In [23]:
# The original data is unaltered, though:
mouseDF

       strain sex     weight
0    C57Bl/6J   M  27.596753
1    C57Bl/6J   M  29.635837
2    C57Bl/6J   M  28.460685
3    C57Bl/6J   M  29.248225
4    C57Bl/6J   M  25.702118
..        ...  ..        ...
395    DBA/2J   F  20.489587
396    DBA/2J   F  21.512789
397    DBA/2J   F  18.677338
398    DBA/2J   F  22.974729
399    DBA/2J   F  19.312054

[400 rows x 3 columns]

In [24]:
# You can also remove data in place. 
# Here, I'm making a copy of mouseDF first so I can use the original data later.
mouseDF2 = mouseDF.copy()
mouseDF2.drop('sex', axis=1, inplace=True)
mouseDF2

       strain     weight
0    C57Bl/6J  27.596753
1    C57Bl/6J  29.635837
2    C57Bl/6J  28.460685
3    C57Bl/6J  29.248225
4    C57Bl/6J  25.702118
..        ...        ...
395    DBA/2J  20.489587
396    DBA/2J  21.512789
397    DBA/2J  18.677338
398    DBA/2J  22.974729
399    DBA/2J  19.312054

[400 rows x 2 columns]

In [ ]:
mouseDF2 = mouseDF # Won't make a copy!

In [25]:
mouseDF2 = mouseDF.drop('sex', axis=1)
mouseDF2

       strain     weight
0    C57Bl/6J  27.596753
1    C57Bl/6J  29.635837
2    C57Bl/6J  28.460685
3    C57Bl/6J  29.248225
4    C57Bl/6J  25.702118
..        ...        ...
395    DBA/2J  20.489587
396    DBA/2J  21.512789
397    DBA/2J  18.677338
398    DBA/2J  22.974729
399    DBA/2J  19.312054

[400 rows x 2 columns]

In [26]:
mouseDF

       strain sex     weight
0    C57Bl/6J   M  27.596753
1    C57Bl/6J   M  29.635837
2    C57Bl/6J   M  28.460685
3    C57Bl/6J   M  29.248225
4    C57Bl/6J   M  25.702118
..        ...  ..        ...
395    DBA/2J   F  20.489587
396    DBA/2J   F  21.512789
397    DBA/2J   F  18.677338
398    DBA/2J   F  22.974729
399    DBA/2J   F  19.312054

[400 rows x 3 columns]

In [28]:
mouseDF2.drop('weight', axis=1, inplace=True) # This affects mouseDF2 but not mouseDF.

In [29]:
mouseDF2.head()

     strain
0  C57Bl/6J
1  C57Bl/6J
2  C57Bl/6J
3  C57Bl/6J
4  C57Bl/6J

In [30]:
mouseDF.head()

     strain sex     weight
0  C57Bl/6J   M  27.596753
1  C57Bl/6J   M  29.635837
2  C57Bl/6J   M  28.460685
3  C57Bl/6J   M  29.248225
4  C57Bl/6J   M  25.702118

In [ ]:
# You can drop just missing data. We will discuss dealing with missing data in 
# more detail later -- this is but one option, and is not necessarily the best option.

# Drop any row with one or missing value:
mouseDF.dropna() 
# Same as:
mouseDF.dropna(how='any', axis=0, inplace=False)

# Drop any row missing all values.
mouseDF.dropna(how='all', axis=0, inplace=False)

# Drop any row missing all values in the columns 'sex' and 'weight'
mouseDF.dropna(how='all', axis=0, inplace=False, subset=['weight', 'sex'])

# Drop any column with at least one missing value:
mouseDF.dropna(how='any', axis=1, inplace=False)

## Working with data

In [ ]:
maxWeight = mouseDF['weight'].max()
minWeight = mouseDF['weight'].min()

# Here's an example of broadcasting
# -- scalar values (that's what we call single values vs. structured values like lists or dictionaries) 
# are *broadcast* along the dimension of a Series.
mouseDF['scaledWeight'] = (maxWeight - mouseDF['weight'])/(maxWeight-minWeight)
mouseDF

In [ ]:
# You can also broadcast scalar values across an entire DataFrame:
# We can perform row-wise operations on Series. The following
# adds the value of mouseDF['weight'][i] with mouseDF['scaledWeight'][i] 
# for each i in len(mouseDF)
mouseDF['weight'] + mouseDF['scaledWeight']

In [ ]:
# We can also do it like this.
mouseDF['weight'].add(mouseDF['scaledWeight'])

You can do some other cool things with `add()`, `sub()`, `mul()`, `div()`, `mod()`, `pow()` with DataFrames—[check out this documentation on add](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.add.html?highlight=add).

In [ ]:
# Apply a function to every element in a Series (this is slow!):
mouseDF['weight'].apply(lambda elem: (6-elem)/2)

In [ ]:
# With DataFrame, we can apply a function to every row or column:
mouseDF.apply(lambda row: row['weight']/(row['scaledWeight']+2),axis=1)

## Sorting

In [ ]:
 # Sort the DataFrame rows by weight.
 mouseDF.sort_values(['weight'])

## Grouping

Follows a "split-apply-combine" model. This is similar to the group by in SQL and pivot table in Excel.

In [ ]:
# Split
groupedByStrain = mouseDF[['strain', 'weight', 'scaledWeight']].groupby('strain')

# Apply
groupedByStrain.agg(['min', 'mean', 'max'])

### Activity

Let's load in one of the Apache files and see what we can do with it...

In [ ]:
# TODO

# Question from March 5, 2025

What is the average compressive strength for each distinct value of age? Assumes we've read the table into a DataFrame named concrete.

In [1]:
import pandas as pd

concrete = pd.read_csv('../data/Concrete_Data.csv')
concrete.head()

,cement,slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
averageStrength = concrete['compressive_strength'].mean()
averageStrength

np.float64(35.817961165048544)

In [4]:
concrete[ ['compressive_strength', 'age'] ].groupby('age').mean()

     compressive_strength
age
1                9.455000
3               18.981194
7               26.050873
14              28.750968
28              36.748612
56              51.890220
90              40.480370
91              69.808636
100             47.668846
120             39.646667
180             41.730385
270             51.272308
360             40.696667
365             43.557857

In [7]:
concrete.groupby('age').mean()

,cement,slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,compressive_strength
age,,,,,,,,
1,442.500000,0.000000,0.000000,193.000000,0.000000,1045.500000,688.000000,9.455000
3,286.581343,65.977612,57.164179,176.188806,6.616418,977.247761,796.111940,18.981194
7,312.923810,92.943651,12.642857,183.287302,3.750000,983.814286,768.103175,26.050873
14,246.182258,18.590323,97.854839,173.390323,6.679032,1023.909677,800.119355,28.750968
28,265.444471,86.285176,62.795294,183.059529,6.995765,956.059294,764.377412,36.748612
56,294.173626,55.221978,85.043956,167.448352,9.856044,979.635165,798.491209,51.890220
90,284.140741,88.524074,0.000000,200.768519,0.000000,966.137037,758.662963,40.480370
91,392.263636,148.809091,0.000000,157.763636,15.154545,918.940909,802.336364,69.808636
100,220.909615,22.165385,116.673077,169.446154,7.963462,1025.296154,809.450000,47.668846
120,330.000000,0.000000,0.000000,192.000000,0.000000,1031.000000,820.000000,39.646667
180,331.334615,49.319231,0.000000,207.038462,0.000000,979.900000,725.438462,41.730385
270,376.884615,72.346154,0.000000,218.615385,0.000000,976.538462,627.615385,51.272308
360,267.533333,56.966667,0.000000,191.833333,0.000000,998.066667,828.233333,40.696667
365,319.321429,67.178571,0.000000,218.642857,0.000000,942.285714,690.071429,43.557857

In [9]:
ageGroups = concrete.groupby('age')

In [10]:
ageGroups.min()

,cement,slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,compressive_strength
age,,,,,,,,
1,385.0,0.0,0.0,186.0,0.0,966.0,613.0,6.27
3,102.0,0.0,0.0,121.8,0.0,822.0,605.0,2.33
7,102.0,0.0,0.0,126.6,0.0,822.0,594.0,7.51
14,165.0,0.0,0.0,121.8,0.0,947.0,613.0,12.84
28,102.0,0.0,0.0,121.8,0.0,801.0,594.0,8.54
56,165.0,0.0,0.0,121.8,0.0,822.0,605.0,23.25
90,102.0,0.0,0.0,173.0,0.0,887.0,594.0,21.86
91,286.3,0.0,0.0,126.6,8.6,852.1,605.0,56.50
100,165.0,0.0,0.0,121.8,0.0,947.0,746.6,33.54
120,310.0,0.0,0.0,192.0,0.0,1012.0,809.0,38.70
180,139.6,0.0,0.0,173.0,0.0,932.0,594.0,24.10
270,190.0,0.0,0.0,173.0,0.0,932.0,594.0,38.41
360,139.6,0.0,0.0,191.0,0.0,968.0,806.0,33.70
365,190.0,0.0,0.0,193.0,0.0,932.0,594.0,25.08

In [12]:
ageGroups.max()

,cement,slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,compressive_strength
age,,,,,,,,
1,500.0,0.0,0.0,200.0,0.0,1125.0,763.0,12.64
3,540.0,305.3,174.7,214.6,32.2,1134.3,992.6,41.64
7,540.0,359.4,141.0,228.0,32.2,1134.3,992.6,59.09
14,540.0,129.9,174.7,214.6,14.2,1125.0,905.9,59.76
28,540.0,359.4,200.1,247.0,32.2,1145.0,992.6,81.75
56,531.3,282.8,174.7,214.6,32.2,1134.3,992.6,80.20
90,540.0,305.3,0.0,228.0,0.0,1125.0,945.0,69.66
91,531.3,262.2,0.0,186.0,32.2,1134.3,992.6,82.60
100,376.0,129.9,174.7,214.6,14.2,1090.0,905.9,66.95
120,349.0,0.0,0.0,192.0,0.0,1056.0,830.0,40.86
180,540.0,237.5,0.0,228.0,0.0,1125.0,885.0,71.62
270,540.0,237.5,0.0,228.0,0.0,1125.0,670.0,74.17
360,349.0,209.4,0.0,192.0,0.0,1047.0,856.0,44.70
365,475.0,237.5,0.0,228.0,0.0,968.0,885.0,56.14

In [15]:
statsByAge = ageGroups.describe()
statsByAge.head()

    cement                                                                  \
     count        mean         std    min      25%     50%      75%    max
age
1      2.0  442.500000   81.317280  385.0  413.750  442.50  471.250  500.0
3    134.0  286.581343  105.659245  102.0  202.375  254.50  362.600  540.0
7    126.0  312.923810  104.695368  102.0  236.375  317.45  384.375  540.0
14    62.0  246.182258   81.533191  165.0  191.700  226.05  269.400  540.0
28   425.0  265.444471  104.670313  102.0  160.200  261.00  323.700  540.0

      slag             ... fine_aggregate        compressive_strength  \
     count       mean  ...            75%    max                count
age                    ...
1      2.0   0.000000  ...         725.50  763.0                  2.0
3    134.0  65.977612  ...         850.20  992.6                134.0
7    126.0  92.943651  ...         808.75  992.6                126.0
14    62.0  18.590323  ...         856.30  905.9                 62.0
28   425.0  86.285176  ...         811.50  992.6                425.0


          mean        std    min      25%     50%      75%    max
age
1     9.455000   4.504270   6.27   7.8625   9.455  11.0475  12.64
3    18.981194   9.863047   2.33  11.8825  15.720  25.0950  41.64
7    26.050873  14.583447   7.51  14.5525  21.650  37.6500  59.09
14   28.750968   8.638029  12.84  22.3725  26.540  33.6150  59.76
28   36.748612  14.711077   8.54  26.2300  33.760  44.3900  81.75

[5 rows x 64 columns]

In [16]:
statsByAge['cement']

     count        mean         std    min      25%     50%      75%    max
age
1      2.0  442.500000   81.317280  385.0  413.750  442.50  471.250  500.0
3    134.0  286.581343  105.659245  102.0  202.375  254.50  362.600  540.0
7    126.0  312.923810  104.695368  102.0  236.375  317.45  384.375  540.0
14    62.0  246.182258   81.533191  165.0  191.700  226.05  269.400  540.0
28   425.0  265.444471  104.670313  102.0  160.200  261.00  323.700  540.0
56    91.0  294.173626  100.279008  165.0  213.050  252.30  377.750  531.3
90    54.0  284.140741  113.490767  102.0  193.650  288.50  347.250  540.0
91    22.0  392.263636   57.227986  286.3  362.600  384.05  425.000  531.3
100   52.0  220.909615   43.209922  165.0  188.225  213.75  250.000  376.0
120    3.0  330.000000   19.519221  310.0  320.500  331.00  340.000  349.0
180   26.0  331.334615  100.627543  139.6  268.750  326.50  372.500  540.0
270   13.0  376.884615  112.197214  190.0  304.000  380.00  475.000  540.0
360    6.0  267.533333   82.069012  139.6  218.200  293.50  325.750  349.0
365   14.0  319.321429   79.534851  190.0  257.000  319.75  370.500  475.0

In [17]:
statsByAge['cement']['std']

age
1       81.317280
3      105.659245
7      104.695368
14      81.533191
28     104.670313
56     100.279008
90     113.490767
91      57.227986
100     43.209922
120     19.519221
180    100.627543
270    112.197214
360     82.069012
365     79.534851
Name: std, dtype: float64